# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
build/
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.coverage
coverage/
htmlcov/
pip-wheel-metadata/

# Env / logs
.env
.env.*
!.env.example
*.log
.python-version

# Editors
.idea/
.vscode/
*.swp
